__pycache__/
*.pyc
.env
venv/
.venv/
yuklab_olingan_rasmlar/
*.xlsx
firebase-key.json
ffmpeg/
modern-version/.next/
modern-version/node_modules/
modern-version/.env*
.DS_Store
*.log
yandex-sync-tool/yandex_user_data/
yandex-sync-tool/yandex_user_data_copy/
.ipynb_checkpoints/
node_modules/
.next/
dist/
build/
.history/
.vscode/
.idea/
*.local
supabase/
.temp/
tmp/